@model BanHang.Models.Product

@{
    ViewData["Title"] = "Sửa sản phẩm";
}

<div class="max-w-3xl mx-auto mt-10 bg-white shadow-xl rounded-3xl p-8">

    <h2 class="text-3xl font-bold text-blue-700 mb-8">
        Sửa sản phẩm
    </h2>

    <form asp-action="Edit">

        <input asp-for="Id" hidden />

        <div class="mb-5">

            <label class="font-semibold">
                Tên sản phẩm
            </label>

            <input asp-for="Name"
                   class="w-full border rounded-xl p-3 mt-2">

        </div>

        <div class="mb-5">

            <label class="font-semibold">
                Giá
            </label>

            <input asp-for="Price"
                   class="w-full border rounded-xl p-3 mt-2">

        </div>

        <div class="mb-5">

            <label class="font-semibold">
                Link hình
            </label>

            <input asp-for="ImageUrl"
                   class="w-full border rounded-xl p-3 mt-2">

        </div>

        <div class="mb-5">

            <label class="font-semibold">
                Mô tả
            </label>

            <textarea asp-for="Description"
                      rows="5"
                      class="w-full border rounded-xl p-3 mt-2"></textarea>

        </div>

        <div class="flex justify-end gap-3">

            <a asp-action="Index"
               class="px-6 py-3 rounded-xl bg-gray-300">

                Quay lại

            </a>

            <button type="submit"
                    class="bg-blue-600 hover:bg-blue-700 text-white px-8 py-3 rounded-xl">

                Lưu

            </button>

        </div>

    </form>

</div>